.content-header-parent-left{

}

.content-header-parent-right{

}
.content-header{

}

.content-header-parent-left-name{
    padding: 30% 0;
    text-align: center;
    margin: auto;
    max-width: 80%;
}